:root {
    --main-bg-color: rgb(24, 24, 24);
    --light-bg-color: rgb(32, 32, 32);
    --main-border-color: rgb(44, 44, 44);
    --light-border-color: rgb(85, 85, 85);
    --main-font-color: white;
    --inactive-font-color: rgb(85, 84, 84);
    --main-font-color-inverse: rgb(109, 109, 109);
    --button-color: rgb(61, 61, 61);
    --accent-button-color: rgb(36, 180, 126);
    --accent-button-color-blue: rgb(19, 116, 239);

    --coming-soon-font-color: rgb(66, 148, 255);
    --coming-soon-background-color: rgba(19, 114, 239, 0.253);
}

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-weight: normal;
}

body, header {
    background: var(--main-bg-color);
    margin: 0px;
    font-size: 16px;
}

header {
    position: sticky;
    top: 0;
    z-index: 50;
}

nav {
    border: 1px solid var(--main-border-color);
}

#nav_inner_container {
    padding-left: 4rem;
    padding-right: 4rem;
    height: 4rem;
    width: 100%;
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    position: relative;
}

#nav_inner_container_flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex: 1 1 0%;
}

#nav_logo_and_nav {
    display: flex;
    align-items: center;
}

#nav_logo_container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

#nav_logo {
    width: auto;
    height: 1.5rem;
    max-width: 100%;
    display: block;
}

#nav_nav_container {
    display: flex;
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.nav_item {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin: 0 0.2rem;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    color: var(--main-font-color)
}

.nav_item_dropdown {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.5rem;
    display: block;
}

.nav_item_a {
    padding: 1.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin: 0 0.1rem;
    display: inline-flex;
    text-decoration: none;
    color: var(--main-font-color)
}

#nav_buttons_container {
    display: flex;
    align-items: center;
}

.button {
    border-radius: 0.2rem;
    padding: 0.4rem 0.6rem;
    margin: 0.25rem;
    border: none;
    color: var(--main-font-color);
    background-color: var(--button-color)
}

.accent_button {
    background-color: var(--accent-button-color);
}

.accent_button_blue {
    background-color: var(--accent-button-color-blue);
}

.transparent_button {
    background-color: transparent;
}

.inactive_button {
    color: var(--inactive-font-color);
    background-color: transparent;
}

.button_section {
    padding: 0.8rem 1.2rem;
    margin-left: 2rem;
    margin-top: auto;
    margin-right: auto;
}

.coming_soon {
    background: var(--coming-soon-background-color);
    color: var(--coming-soon-font-color);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin-right: auto;
}

main {
    padding-top: 6rem;
}

#main_section_p_container {
    margin: auto 0;
    margin-right: 30%;
    font-size: 0.9rem;
}

section {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    color: var(--main-font-color)
}

#section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--main-font-color)
}

section div {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2.5rem;
    margin-top: 0
}

section h1 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

#section1 h1 {
    font-weight: bold;
}

#section1 img {
    display: inline-block;
    width: 100%;
}

#section2 {
    margin-top: 5rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section2_elem_icons {
    display: flex;
    flex-direction: row;
}

.section2_elem_icons .icon_container {
    margin-right: 0.3rem;
}

.section2_inner_grid_elem {
    width: 60%;
}

#section3 {
    display: flex;
    flex-direction: column;
}

#section3_grid {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: 4.3rem;
}

#section3_grid1 {
    width: 75%
}

.flex_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.3rem;
}

#section3_grid_right_elem {
    border-bottom: 1px solid var(--main-border-color);
}

#example_app {
    background-color: var(--light-bg-color);
    padding: 1rem;
    padding-bottom: 2rem;
    border-top: 1px solid var(--main-border-color);
}

#deploy_js {
    margin: 1.7rem 0;
    margin-left: 2rem;
}

#deploy_js_button {
    margin-top: 1rem;
    margin-right: auto;
}

#section4 {
    display: grid;
    grid-template-columns: 35% 65%;
    margin-top: 9rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--main-border-color);
}

#section4_cdn_and_auto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
}

#section4_cdn_and_auto .section4_card {
    width: 80%;
}

.section_grid_70 {
    width: 70%;
    margin-left: auto
}

.secondary {
    font-size: 0.8rem
}

.icon_container {
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.icon {
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
    margin-right: 0.3rem;
    display: inline-flex;
    background-color: var(--main-font-color)
}

#example_app_logo {
    width: 2rem !important;
    margin-left: 0.3rem !important;
}

#example_app_logo img {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--light-border-color);
    border-radius: 50%;
}

.icon_no_background {
    width: 1rem;
    background-color: transparent
}

.icon_text {
    margin: auto 0;
    color: var(--main-font-color)
}

.icon i {
    margin: auto auto;
    color: var(--main-font-color-inverse);
}