main {
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    background: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    background: pink;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

p, h2 {
    text-align: center;
    color: black;
}

h2 {
    color: rgb(117, 117, 117);
}

p {
    font-size: 12px;
}

.section_bottom {
    width: 100%;
    height: 60px;
    margin-top: auto;
}

#red{
    background: rgb(255, 79, 79);
}

#green{
    background: rgb(85, 255, 79);
}

#blue{
    background: rgb(97, 79, 255);
}