:root {
    --main-bg-color: rgba(48, 48, 48, 1);
    --accent-bg-color: rgb(77, 77, 77);
    --nav-bg-color: #333;
    --nav-accent-color: rgb(36, 33, 30);
    --main-font-color: white;
    --main-border-color: white;
    --secondary-border-color: rgb(110, 110, 110);
    --accent-font-color: rgb(255, 228, 206);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--main-bg-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

h2 {
    color: var(--accent-font-color);
    font-size: 2rem;
    margin: 0 0.1rem;
}

#project_name {
    color: var(--accent-font-color);
    padding: 1.7rem 0;
    font-size: 2rem;
    text-align: center;
    background: var(--main-bg-color);
    background: -moz-linear-gradient(180deg, transparent 90%, var(--main-bg-color) 100%), url(images/popcorn_attractor.png);
    background: -webkit-linear-gradient(180deg, transparent 90%, var(--main-bg-color) 100%), url(images/popcorn_attractor.png);
    background: linear-gradient(180deg, transparent 90%, var(--main-bg-color) 100%), url(images/popcorn_attractor.png);
    background-position: center center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--nav-bg-color);
}

li {
    color: var(--main-font-color);
    float: left;
}

li a {
    color: var(--main-font-color);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--nav-accent-color);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content_sticky {
    margin-top: 48px;
}

main {
    padding-top: 40px;
    background: var(--main-bg-color);
    background: linear-gradient(0deg, var(--main-bg-color), 83%, var(--nav-bg-color) 100%);
}

#about {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#title_and_img {
    border: 1px solid var(--main-border-color);
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    background: var(--accent-bg-color);
}

#about_title {
    color: var(--main-font-color);
    font-size: 1.2rem;
}

#about_img {
    width: 400px;
    border: 1px solid var(--secondary-border-color);
    border-radius: 5px;
}

.description_section {
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    background: var(--accent-bg-color);
    padding: 10px;
    margin: 5px;
    width: 30%;
    flex: 1.5 0.8 45%;
}

p.description {
    color: var(--main-font-color);
    font-size: 1.3rem;
}

@media only screen and (min-width: 1300px){
    #about {
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width: 600px) {
    #title_and_img {
        flex: 1.5 0.8 30%;
    }
}

@media only screen and (max-width: 600px) {
    #about_img {
        width: 90%;
    }
}