@charset "utf-8";

:root {
    --button-margin: 0.1em;
}

/* 
styles fo upper part of the page
*/

h1 {
    font-family: OpenSans, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.block, .block:active, .block:hover, .block:focus {
    text-decoration: none;
    color: #375983;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    height: 100px;
    display: block;
    transition-duration: 0.2s;
}

.block>p {
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

.block1>img {
    height: 70px;
}

.block2>img {
    height: 90px;
    margin-bottom: -20px;
}

.block3>img {
    height: 60px;
    margin-top: 10px;
}

/* end section */

#flex_main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

.grid_container {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1;
    margin: 0 0.1em;
}